{% extends 'base.html.twig'%}

{% block body %}
    {% if app.user %}
        {% if app.user.role is same as('directeur') %}    
            <h2 class="page-header">Ajouter Un enseignant</h2>
            {{form_start(form2)}}
            {{form_widget(form2)}}
            {{form_end(form2)}}
        {% else %}
            <a href="/" class="btn btn-outline-primary">Retour</a>
        {% endif %}
    {% else %}
        <a href="/" class="btn btn-outline-primary"></a>    
    {% endif %}
       
{% endblock %}