{% extends "base.html.twig" %}

{% block body %}
       <center><h1>Ajouter Plainte</h1></center>
         {% if app.user %}
            {% if app.user.role is same as('directeur')%}
                <div class="container">
                        <h2 class="page-header">Ajouter Une Plainte a l'élève matriculé {{eleve.id}}</h2>
                        <div class="form-group">
                            {{form_start(form)}}
                            {{form_widget(form)}}
                            {{form_end(form)}}
                        </div>
                </div>
            {% else %}
                <a href="/" class="btn btn-outline-primary">Retour</a>
            {% endif %}
        {% else %}
            <a href="/" class="btn btn-outline-primary">Retour</a>
        {% endif %}
{% endblock %}