{% extends "base.html.twig" %}

{% block body %}
    {% if app.user %}
        {% if app.user.role is same as('parent') %}
            <center><h1>Rendez-vous</h1></center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rv in rvs %}
                        {% if eleve.id is same as(rv.eleve.id) %}
                            <tr>
                                <td>{{rv.date.format('Y-m-d')}}</td>
                                <td>{{rv.heure.format('H:m')}}</td>
                            </tr>
                        {% endif %}                
                    {% endfor %}
                </tbody>
            </table>
            <a href="/demanderRv/{{eleve.id}}" class="btn btn-outline-success">Demander Rendez-vous</a>
        {% else %}
             <a href="" class="btn btn-outline-primary">Retour</a>    
        {% endif %}        
    {% else %}
         <a href="" class="btn btn-outline-primary">Retour</a>        
    {% endif %}
    
{% endblock %}